<div class="footer">
    <a href="http://www.beuth-hochschule.de/impressum/" class="beuth-logo">
        <img width="50" src="/assets/beuth-logo-schatten.png">
    </a>
    <br>
    <p>
        <a href="http://www.beuth-hochschule.de/impressum/" class="beuth-logo footer-impressum">Impressum</a>
    </p>


    <a href="https://de-de.facebook.com/beuthmedialabs/" target="_blank" class="btn btn-default" id="facebookButton"><span class="glyphicon glyphicon-thumbs-up"></span>
        Facebook</button></a>

</div>
</body>

</html>