<div class="footerStarTrek">
    <br>
    <p>
        <a href="http://www.beuth-hochschule.de/impressum/" class="beuth-logo footer-impressum">Impressum</a>
        <a href="https://de-de.facebook.com/beuthmedialabs/" class="beuth-logo footer-impressum">Facebook</a>
    </p>


</div>
</body>

</html>