<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=1" name="viewport" />
    <title>beuthBOX</title>
    <!--<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />

    <!-- player skin -->
    <link rel="stylesheet" href="/css/player/functional.css">
    <link rel="stylesheet" href="//releases.flowplayer.org/quality-selector/flowplayer.quality-selector.css">
    
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <!-- scripts -->
    <!-- Flowplayer-->
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>

    
   <script src="//releases.flowplayer.org/6.0.5/commercial/flowplayer.min.js"></script> 
    <script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>
    <!--<script src="//cdn.flowplayer.com/players/8dfd6c14-ba3a-445e-8ef5-191d9358ed0a/native/flowplayer.async.js"></script>-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://unpkg.com/split.js/split.min.js"></script>
</head>