<nav id="nav" class="navbar navbar-default" data-spy="affix" data-offset-top="17">
    <div class="navbar-inner">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="brand">
                <img src="/assets/beuthbox-logo.svg">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="theNavbar">
            <ul class="nav navbar-nav">

                <li>
                    <a href="/live">Live</a>
                </li>
                <li>
                        <a href="/channel">Channels</a>
                    </li>
                <li>
                    <a href="/playlist">Playlists</a>
                </li>
                <li>
                    <a href="/aboutus">Über uns</a>
                </li>
                <li>
                    <form class="navbar-form" role="search" action="/search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Suche" name="name">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search">
                                        <span class="sr-only">Search</span>
                                    </span>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.beuth-hochschule.de/" class="beuth-logo">
                        <img width="50" src="/assets/beuth-logo-schatten.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>