<% include partials/head %>

<body>
  <header>
    <% include partials/header %>
  </header>

  <div class="container">



    <div class="row">
      <div class="bg-black col-lg-10">

        <h2 class="hero-title">…denn ein Video ist mehr als 1000 Bilder...</h2><br><br>

        <p>Die <b>beuthBOX</b> ist die offizielle WebTV-Plattform der Beuth Hochschule für Technik Berlin, um
          bedeutende Hochschulveranstaltungen und Hochschulereignisse, Symposien und Tagungen sowie spannende
          Forschungs- und
          Studierendenprojekte im
          Videoformat oft auch als Livestream darzustellen. Die beuthBOX bietet darüber hinaus allen Lehrkräften die
          Möglichkeit kurze
          Lehrfilme zu produzieren.</p>

        <p><b>Die zentrale Aufgabe der beuthBOX</b> ist, die vielfältigen spannenden Aktivitäten an der Beuth
          Hochschule per
          Bewegtbild (Video) nach außen aber auch nach Innen darzustellen, zu kommunizieren.</p>

        <p>Die beuthBOX ging in der allerersten Version an <b>Start bereits im Jahr 2011</b> und mit großem
          Enthusiasmus der
          damaligen Gestalter*innen und Entwickler*innen, denn bis Mitte 2016 war die beuthBOX eine zu 100% eigene
          Softwareentwicklung im Front-End wie im Back-End mit einem eigenen Video-CMS!</p>

        <img src="../img/beuthbox1.png" class="aboutusImg">

        <p>Die WebTV-Plattform 'beuthBOX' wurde seit 2011 und wird weiterhin im Rahmen von Semester- und
          Abschlussprojekten sowie von zwei Forschungs- und Entwicklungsprojekten im FB VI Informatik und Medien,
          Studiengang Medieninformatik sowie
          Druck- und Medientechnik unter der <b>Leitung von Prof. Dr. Robert Strzebkowski</b> entwickelt und betrieben.</p>

        <p>Die Namen der seit 2011 an der Entwicklung der beuthBOX mitwirkenden Studierenden, Mitarbeiter*innen sowie
          auch Kolleg*innen sind unten auf dieser Webseite aufgelistet.</p>

        <p>Bereits Im Jahr 2011 waren wir stolz, dass wir zu den ersten Anbietern überhaupt der sog. <b>'Dual-View'
            Technik</b> gehörten, mit der Livestreams sowie Aufzeichnungen von wichtigen Events, Symposien, Konferenzen
          mit zwei exakt
          synchronisierten Videobildern - 1x der Präsentationsperson und 1x der (PPT) Präsentation - jedoch flexibel in
          der Darstellung
          dieser Videostreams zueinander darstellbar waren. Die Zuschauer*innen konnten selbst wählen, welchen
          Videostream
          diese in welcher Größe und ob überhaupt sehen möchten:</p>

        <img src="../img/beuthbox2.png" class="aboutusImg">
        <img src="../img/beuthbox3.png" class="aboutusImg">

        <p>Das war die sog. 'Flash'-Ära der beuthBOX, bei der der Videoplayer auf Basis der Adobe Flash Technologie
          umgesetzt war, die seiner Zeit weit voraus war…</p>

        <p>Die Umstellung der beuthBOX im Laufe der nächsten Jahre auf <b>HTML5/Javascript basiertes System</b> hat uns
          hinsichtlich der Dual-View Technik um einige Jahre zurück 'geworfen'… </p>

        <p>Dafür aber wurde die beuthBOX hinsichtlich des User-Interfaces an das 'Corporate Design' der Beuth
          Hochschule sowie an modernes Webseiten-Design angepaßt mit der sog. 'responsiven' User Interface Technik,
          damit die Webseite
          auf allen gängigen Nutzungsgeräten, wie PC's, Laptops, Tablets und Smartphones vernünftig darstellbar ist:</p>

        <img src="../img/beuthbox4.png" class="aboutusImg">

        <p>Mit der neuen modernen Benutzerschnittstelle waren wir als beuthBOX-Team und die Hochschule sehr zufrieden,
          ABER… es gab stets kleine Funktionsprobleme im Back-End Bereich der beuthBOX, so dass Mitte 2016 die wichtige
          Entscheidung fiel, die WebTV-Plattform auf ein durch größere Programmier-Community gepflegtes und
          verbreitetes System umzustellen. Die studentischen und wissenschaftlich-technischen Mitarbeiter*innen
          verlaßen naturgemäß nach einiger Zeit die Hochschule und nehmen auch das Entwickler Know-How mit… Zeit für
          die Erstellung einer ausführlichen guten Dokumentation ist stets viel zu wenig, das war auch ein Grund für
          den Wechsel…</p>

        <p><b>Seit Ende 2016</b> haben wir die beuthBOX-Plattform auf das Open Source Online-Video System <a href="https://opencast.org/">'Opencast'</a>
          umgestellt:</p>

        <img src="../img/beuthbox5.png" class="aboutusImg">

        <p>Opencast kommt aus der akademischen / universitären Umgebung und wird kontinuierlich durch eine zunehmende
          Entwickler*innen Community im Hinblick auf die Bedürfnisse des Videoeinsatzes an den Hochschulen
          weiterentwickelt.
        </p>

        <p>Das User Interface Design der beuthBOX-Plattform ist noch nicht abgeschlossen und wird demnächst eine
          deutliche Überarbeitung erfahren...
        </p>

        <p>Wegen bestimmter Einschränkungen des original Video-CMS von Opencast mussten wir .- wie viele andere
          Universitäten weltweit - doch wieder <b>ein eigenes 'kleines' Video-CMS</b> entwickeln, was zum großen Teil
          im
          Rahmen einer Masterarbeit im WS 2017/2018 geschah:
        </p>

        <img src="../img/beuthbox6.png" class="aboutusImg">

        <p>Die beuthBOX Videoplattform entwickelt sich stets weiter und präsentiert sich heutzutage in ihrer vierten
          Version. Das beuthBOX-Team sowie Studierende arbeiten kontinuierlich an Verbesserungen und Innovationen
          sowohl im Front-End als auch im Back-End Bereich der beuthBOX als auch an neuen Produktionsverfahren.
        </p>

        <p>Zum Beispiel wurde exemplarisch die <a href="http://beuthbox.beuth-hochschule.de/dualview#">Dual-View Technik</a> diesmal auf HTML5/Javascript Basis und basierend auf
          dem sog. 'Paella-Player' der Universität Valencia (Spanien) in die beuthBOX-Plattform eingebaut und auch
          optisch entsprechend angepaßt:</p>

          
        <img src="../img/beuthbox7.jpg" class="aboutusImg">

        <p>Und im Folgenden werden alle bisherigen und aktuell an der Konzeption, Design und Entwicklung der beuthBOX
          Mitwirkenden sowie das beuthBOX-Team - stets in alphabetischer Reihenfolge - aufgelistet:
        </p><br>

        <p><b>Das aktuelle beuthBOX-Team</b></p>
        <ul>
          <li>Wolfgang Antoniazzi</li>
          <li>Markus Kehrer</li>
          <li>Sebastian Kraus</li>
        </ul><br>

        <p><b>Bisherige Mitwirkende mit erheblichen Anteilen an der Entwicklung, Design und Konzeption der beuthBOX</b></p>
        <ul>
          <li>Clemens Buckert</li>
          <li>Heiko Mevius</li>
          <li>Dennis Oczko</li>
          <li>Sebastian Riedel</li>
          <li>Nicole Schneidereit</li>
          <li>Sergej Schulz</li>
          <li>Sven Spielvogel</li>
          <li>Stefan Streichan</li>
          <li>Andreas Tomm</li>
        </ul><br>

        <p><b>Bisherige weitere Mitwirkende an der Entwicklung, Design und Konzeption der beuthBOX</b></p>
        <ul>
          <li>Süreyya Aksoy</li>
          <li>Ahmed Al-Jabiri</li>
          <li>Madlin Ankert</li>
          <li>Jan Berdi</li>
          <li>Ilona Demidenko</li>
          <li>Michael Duve</li>
          <li>Sebastian Friedersen</li>
          <li>Denis Hartmann</li>
          <li>Sarah Yvonne Häuser</li>
          <li>Melina Hortz</li>
          <li>Christopher Kraus</li>
          <li>Fortunata Lehmann</li>
          <li>Felix Maulwurf</li>
          <li>Björn Münchau</li>
          <li>Burak Özhan</li>
          <li>Kai Schirmer</li>
          <li>Stephan Völkel</li>
        </ul><br>

        <p><b>Beteiligte Kolleginnen und Kollegen und deren Studierende</b></p>
        <ul>
          <li>Prof. Antya Umstätter</li>
          <li>Prof. Dr. Jürgen Lohr/li>
          <li>Stefanie Jotzo</li>
          <li>Ilka Berghof</li>
          <li>Ute Härting</li>
        </ul><br>


        <p><b>Webadressen der beuthBOX</b></p>
        <ul>
          <li><a href="http://www.beuthbox.de">www.beuthbox.de</a></li>
          <li><a href="http://www.beuth-hochschule.de/beuthbox">www.beuth-hochschule.de/beuthbox</a></li>
          <li>Livestreams: <a href="http://www.beuth-hochschule.de/live">www.beuth-hochschule.de/live</a></li>
        </ul><br>






        <p><b>Projektleitung</b><br>
          Prof. Dr. Robert Strzebkowski<br>
          FBVI Informatik und Medien<br>
          Laborleiter Film und Fernsehen<br>
        </p><br>

        <p><b>Kontakt</b><br>
          robert.strzebkowski@beuth-hochschule.de</p>







      </div>
    </div>



  </div>

  <% include partials/footer %>