<% include partials/head %>

    <body>
        <header>
            <% include partials/header %>
        </header>

        <div class="container-fluid content">

            <h2 class="carousel-title" style="padding-top: 20px">Beuthbox Dual View Player</h2>
            <div class="container">
                <div class="row">
                    <div class="hidden-sm hidden-xs col-md-4 tile">
                        <img class="tile-image" src="/assets/large-playback.jpg">
                    </div>
                    <div class="col-sm-12 col-md-8 text">
                        Mit dem Dual View Player können Sie zwischen der Präsentations- und dem Presentator-Video wechseln oder beide nebeneinander betrachten. Nutzen Sie die
                        Suche, um innerhalb der Folien zu suchen, das Mausrad zum reinzoomen in das Video oder die Navigation nach Slides, um zu einer
                        spezifischen Folie zu springen.
                        <br> <small>Powered by Opencast and Paella Player</small>
                    </div>
                </div>

            </div>

            <h3 class="carousel-title">Auswahl an Dual View Videos</h3>

            <div class="row">
                <div class="col-xs12 col-md-4" style="padding: 10px 10px">
                    <div class="tile">
                        <a href="/dualviewplayer/37263301-bae0-402a-b018-fea2df94ae72">
                            <img class="tile-image" src="/assets/dualview.bmp">
                        </a>
                        <div class="tile-info">
                            <a href="/dualviewplayer/37263301-bae0-402a-b018-fea2df94ae72">
                                <div class="title">
                                    HST 2017 - 4 - Preisauszeichnung DUALVIEW
                                </div>
                                <div class="details">
                                    <div class="created">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        15.11.2017
                                    </div>
                                    <div class="time">
                                        <span class="glyphicon glyphicon-time"></span>

                                        06:02
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs12 col-md-4" style="padding: 10px 10px">
                        <div class="tile">
                            <a href="/dualviewplayer/d0164f82-34da-43be-88ae-824d414ab4c1">
                                <img class="tile-image" src="/assets/dualview.bmp">
                            </a>
                            <div class="tile-info">
                                <a href="/dualviewplayer/d0164f82-34da-43be-88ae-824d414ab4c1">
                                    <div class="title">
                                        HST 2017 - 4 - Ausz. Absolvent_innen DUALVIEW
                                    </div>
                                    <div class="details">
                                        <div class="created">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            15.11.2017
                                        </div>
                                        <div class="time">
                                            <span class="glyphicon glyphicon-time"></span>
    
                                            01:42
                                        </div>
    
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs12 col-md-4" style="padding: 10px 10px">
                            <div class="tile">
                                <a href="/dualviewplayer/60f28751-f7f4-41e8-97ff-0334e47c775d">
                                    <img class="tile-image" src="/assets/flimme.bmp">
                                </a>
                                <div class="tile-info">
                                    <a href="/dualviewplayer/60f28751-f7f4-41e8-97ff-0334e47c775d">
                                        <div class="title">
                                            Flimme Präsentation - Modul Streaming Media SS2017
                                        </div>
                                        <div class="details">
                                            <div class="created">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                12.006.2017
                                            </div>
                                            <div class="time">
                                                <span class="glyphicon glyphicon-time"></span>
        
                                                48:26
                                            </div>
        
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

            </div>

            <% include partials/footer %>