<% include partials/head %>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <div class="container">

      <div class="row liveplayer-container">
        <div class="bg-black col-lg-8 col-lg-offset-2">
          <h2 class="hero-title">Kinokarten-Verlosung</h2>
          <br>

          <h3 class="hero-subtitle">Finde heraus ob du gewonnen hast!</h3>

          <div class="raffle_container_big">

            <h2>Deine Nummer ist leider nicht unter den fünf verlosten Treffern, schade...</h2>
            <h3>Trotzdem vielen Dank für Deine Teilnahme</h3>

          </div>
        </div>
      </div>

    </div>

    <% include partials/footer %>