<% include partials/head %>

<body>
    <header>
      <% include partials/header %>
    </header>

    <div class="container">

      <div class="row liveplayer-container">
        <div class="bg-black col-lg-8 col-lg-offset-2">
          <h2 class="hero-title">Kinokarten-Verlosung</h2>
          <br>

          <h3 class="hero-subtitle">Finde heraus ob du gewonnen hast!</h3>

          <div class="raffle_container_big">

            <h1>Herzlichen Glückwunsch</h1>
            <h2>Du hast gewonnen!</h2><br>
            <p>Du kannst Dir deine Tickets zwischen dem 17.9. und 19.10.18. Montag bis Freitag, in der Zeit 
              zwischen 10:00 und 12:30 Uhr im CGM-Labor, im Raum B340 im Haus Gauss (3.OG), gegen Nennung/Vorlage 
              Deiner Teilnahme-Nummer abholen. Also, bringe bitte unbedingt deine Gewinner-Nummer mit! Viel Spaß 
              dann im Kino!!</p>
              <p>Das beuthBOX-Team</p>

          </div>
        </div>
      </div>

    </div>

    <% include partials/footer %>