* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}


.nav {
    height: 110px;
    display: flex;
    background-color: #00A5A5;
    position: relative;
}

.nav-inner-container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}

div.tabIndicator {
    position: absolute;
    bottom: 0;
    border: 2px solid black;
    width: 50px    
}

.input-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 10px 30px;
    background-color: transparent;
    outline: none;
    border: 1px solid #BDE2E2;
    color: #BDE2E2;
    border-radius: 3px;
    font-size: 18px;
   
}

::placeholder {
    color: #BDE2E2
}


div.icon-container {
    width: 40%;

}


ul {
   width: 100%;
   display: flex;
   list-style-type: none;
   padding-left: 0;
   justify-content: space-between;


}

li:first-child {
    margin-left: 30px;
}

li{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a > svg, a {
    color: white;
    text-decoration: none;
    
}

 a.selected, a.selected span > svg:not(.live--icon) {
    color: black
}

span .live--icon {
    color: red;
}

.iconWrapper {
    text-align: center;
    display: block;
}
