.discover-card__illustration
    // position: absolute
    // top: 20%
    // left: 5%
.discover-card
    display: flex
    margin-bottom: $margin-m

.discover-card__background-container
    background-color: $color-primary
    border-radius: 5px

.discover-card__inner-container
    padding-top: $margin-l + 20px
    padding-bottom: $margin-l + 20px