// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #00a5a5
  accent: #ef181e
  secondary: #bee2e2
  info: #0D47A1
  warning: #ffb300
  error: #ff5252
  success: #2E7D32
}