<% include ./../partials/head %>

    <body>
        <header>
            <% include ./../partials/header %>
        </header>

        <!-- Slider-->
        <div class="container-fluid content1">

            <h3 class="carousel-title">Bitte geben Sie das Passwort ein, um diesen Live-Stream zu sehen</h3>

            <form class="col-md-4 col-md-offset-4 col-xs-12" action="/channel/<%= channel._id %>/livepassword" method="post">
                <% if(errorMessage) { %>
                    <div class="alert alert-danger">
                            <strong><%= errorMessage %>!</strong>
                          </div>
                          <% } %>
                <div class="form-group">
                    <label for="pwd">Passwort:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>
                <button type="submit" class="btn btn-default">SUBMIT</button>
            </form>

        </div>

        <!-- End Container -->

        <% include ./../partials/footer %>