button
    border: none
    outline: none
    border-radius: 3px
    padding: .5rem 1rem
    min-width: 175px
    font-family: $header-font-stack
    @include font-size($h3-sizes)
    font-weight: $h4-weight
    color: var(--color-primary-dark)
    background-color: var(--color-primary)
    transition: color .2s ease-out, background-color .2s ease-out, fill .2s ease-out
    @media screen and (max-width: $break-tablet)
        padding: $h4-size
    @media screen and (max-width: $break-mobile)
        width: 100%
        padding: $h4-size
    &.negative
        color: var(--color-primary-light)
        background-color: var(--color-primary-dark)
    &:hover
        cursor: pointer
        color: white
        background-color: var(--color-primary-dark)

.button--icon
    width: initial
    background-color: transparent
    border: none
    outline: none
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 56px
    min-width: initial
    height: 56px
    border-radius: 100%
    color: var(--color-white)
    svg
        width: 24px
        height: 24px

.button--filled
    background-color: var(--color-primary)
    box-shadow: $elevation-2
