button
    border: none
    outline: none
    border-radius: 3px
    padding: .5em 1em
    min-width: 200px
    font-family: $header-font-stack
    font-size: $h4-size
    font-weight: $h4-weight
    color: $color-primary-dark
    background-color: $color-primary
    transition: color .2s ease-out, background-color .2s ease-out
    &:hover
        cursor: pointer
        color: white
        background-color: $color-primary-dark