.category-checkbutton
    width: fit-content
    display: flex
    align-items: center
    min-width: 140px
    padding: .5em 1em
    border: 2px solid
    border-radius: 50px
    &:hover
        cursor: pointer

// Specific colors
.category-checkbutton.category-checkbutton--study
    border-color: var(--color-red)
    &:hover
        background-color: var(--color-red)
    & path
        fill: var(--color-red)
    .category-checkbutton__label
        color: var(--color-red)

.category-checkbutton.category-checkbutton--campus
    border-color: var(--color-primary)
    &:hover
        background-color: var(--color-primary)
    & path
        fill: var(--color-primary)
    .category-checkbutton__label
        color: var(--color-primary)

.category-checkbutton.category-checkbutton--class
    border-color: var(--color-yellow)
    &:hover
        background-color: var(--color-yellow)
    & path
        fill: var(--color-yellow)
    .category-checkbutton__label
        color: var(--color-yellow)

.category-checkbutton.category-checkbutton--research
    border-color: var(--color-blue)
    &:hover
        background-color: var(--color-blue)
    & path
        fill: var(--color-blue)
    .category-checkbutton__label
        color: var(--color-blue)
// End specific colors

// Active colors
.category-checkbutton--isActive.category-checkbutton--study
    border-color: var(--color-red)
    background-color: var(--color-red)

.category-checkbutton--isActive.category-checkbutton--campus
    border-color: var(--color-primary)
    background-color: var(--color-primary)
    .category-checkbutton__label

.category-checkbutton--isActive.category-checkbutton--class
    border-color: var(--color-yellow)
    background-color: var(--color-yellow)

.category-checkbutton--isActive.category-checkbutton--research
    border-color: var(--color-blue)
    background-color: var(--color-blue)
// End Active Colors

.category-checkbutton--isActive.category-checkbutton, .category-checkbutton.category-checkbutton:hover
    .category-checkbutton__label
        color: var(--color-white)
    path
        fill: var(--color-white)

svg.category-checkbutton__img
    width: .9em !important
    height: .9em !important
    margin-right: .5em

.category-checkbutton__label
    display: inline-block
