.category-icon
    width: fit-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &:not(:last-child)
        margin-right: $margin-s

.category-icon__icon-container
    width: 2.4rem
    height: 2.4rem
    display: flex
    justify-content: center
    align-items: center
    border-radius: 100%
    border: 2px solid
    @media screen and (max-width: $break-tablet-landscape)
        width: 2rem
        height: 2rem

svg.category-icon__img, .category-icon__img.svg-icon
    width: 1.8rem
    height: 1.8rem
    padding: 3px
    @media screen and (max-width: $break-tablet-landscape)
        width: 1.5rem
        height: 1.5rem

.category-icon__icon-container
    border-color: var(--color-grey)
    & path
        fill: var(--color-grey)

.category-icon__icon-container--isActive.category-icon__icon-container--study
    border-color: var(--color-red)
    & path
        fill: var(--color-red)

.category-icon__icon-container--isActive.category-icon__icon-container--campus
    border-color: var(--color-primary)
    & path
        fill: var(--color-primary)

.category-icon__icon-container--isActive.category-icon__icon-container--class
    border-color: var(--color-yellow)
    & path
        fill: var(--color-yellow)

.category-icon__icon-container--isActive.category-icon__icon-container--research
    border-color: var(--color-blue)
    & path
        fill: var(--color-blue)

// label styles
.category-icon--label
    flex-direction: row
    align-items: center

    .category-icon__label
        margin-left: $margin-xs
        font-size: $h5-size
        font-weight: $h5-weight
        &--study
            color: var(--color-red)
        &--campus
            color: var(--color-primary)
        &--class
            color: var(--color-yellow)
        &--research
            color: var(--color-blue)


// labeled styles
.category-icon--labeled
    .category-icon__label
        margin-top: $margin-xs 
        font-size: $small-size
        font-weight: $p-weight


    