.discover-card
    width: 77%
    margin: auto
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.discover-card__illustration
    width: 50%

.discover-card__text-container
    display: flex
    flex-direction: column
    align-items: flex-end
    text-align: right

.discover-card__title
    margin-bottom: $margin-s

.discover-card__description
    margin-bottom: $margin-m
