.react-multi-carousel-item.image-item__video
    padding-right: $margin-s

.react-multi-carousel-item.image-item__playlist
    padding-right: $margin-s

.react-multiple-carousel__arrow
    top: calc(50% - (68px - 21.5px))

.multi-carousel__title
    margin-bottom: $margin-s

.react-multi-carousel-list__playlist
    .react-multiple-carousel__arrow
        top: calc(50% -  21.5px)


// Dot specific styles     
.react-multi-carousel-dot-list 
    bottom: $margin-s

.react-multi-carousel-dot button
    min-width: 0
    margin-right: 10px
    background-color: $color-white

.react-multi-carousel-dot--active button
     min-width: 0
     margin-right: 10px
     background-color: $color-black

