.nav 
    height: 85px
    background-color: $color-primary
    position: sticky
    top: -85px // move out of view on scroll
    transition: top .3s ease-out
    z-index: 999
    &.show
        top: 0

.nav__flex-container
    height: 100%
    display: flex
    align-items: center
    justify-content: center

.nav__searchBar 
    width: 100%
    // margin-right: 20px
    display: inline-block
    padding: 10px 30px
    background-color: transparent
    outline: none
    border: 1px solid $color-primary-light
    color: $color-primary-light
    border-radius: 3px
    font-size: 18px 
::placeholder 
    color: $color-primary-light
.nav__searchbar-flex-container
    position: relative
    width: 50%
    margin-right: $margin-s

.nav__searchbar-flex-container-searchbar-icon
    position: absolute
    top: 11px
    right: $margin-l
    cursor: pointer
    & path
        color: $color-primary-light

.nav-ul 
   list-style-type: none
   display: flex
   align-items: center
   justify-content: flex-start

.nav__element
    &:not(:last-child)
        margin-right: $margin-s

.nav-link 
    color: $color-white
    display: flex
    flex-direction: column
    align-items: center
    text-decoration: none
    transition: left .3s ease-out, width .3s ease-out

.nav__icon
    path
        color: $color-white

    
.nav-link--isActive
    @extend .nav-link
    color: black
    path
        fill: black

.nav__icon--live
    circle
        color: $color-red

.nav__indicator--show
    position: absolute
    bottom: 0
    width: 20px
    background-color: black
    left: 50%
    animation-name: indicatorIn
    animation-duration: .2s 
    animation-timing-function: ease-out 
    animation-fill-mode: forwards
    animation-delay: 1s
    transition: left .2s ease-out, width .4s ease-out
.nav__indicator
    display: none

@keyframes indicatorIn
    0%
        height: 0
    80%
        height: 7px
    100%
        height: 5px
