.searchbar__container
    position: relative

.searchbar
    width: 100%
    margin: 0
    display: block
    padding: 10px 30px
    background-color: $color-white
    outline: none
    border: 1px solid $color-black
    color: $color-grey
    border-radius: 3px
    font-size: 18px
.searchbar::placeholder
    color: $color-grey
.searchbar__icon
    position: absolute
    top: 11px
    right: $margin-l
    cursor: pointer
