.button-secondary
    background-color: transparent
    border: 2px solid $color-primary
    color: $color-primary
    border-radius: 100px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    &:hover
        color: white
        background-color: $color-primary
        path
            fill: white

.button-secondary__icon
    height: $h4-size
    margin-right: .5em
    path
        fill: $color-primary
