.theme-switcher
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-left: auto
    width: 3.2em
    height: 3.2em
    padding: 3px
    border-radius: 100%
    @media screen and (max-width: $break-tablet)
        width: 3em
        height: 3em

.theme-switcher--dark
    border: 1.5px solid black
    .theme-switcher__label
        color: var(--color-black)
    path
        fill: var(--color-black)

.theme-switcher--light
    border: 1.5px solid white
    .theme-switcher__label
        color: var(--color-white)
    path
        fill: var(--color-white)

.theme-switcher__label
    text-align: center
