.container-50, .search-no-results__headline-classics
    text-align: center
.search-no-results__container
    margin: auto
    @media screen and ( max-width: $break-desktop  )
        width: 70%
    @media screen and ( max-width: $break-tablet )
        width: 90%

.search-no-results__searchbar-container
    @media screen and ( max-width: $break-tablet  )
        width: 90%
        margin: auto

.search-no-results__searchbar-container button
    color: $color-primary-dark
    background-color: $color-primary
    width: 90%

.search-no-results__illustration
    width: 50%
    margin-top: $margin-xl
    @media screen and ( max-width: $break-tablet)
        width: 80%
    @media screen and ( max-width: $break-tablet)
        width: 100%

.search-no-results__video-container
    @media screen and ( max-width: $break-desktop  )
        width: 90%
        margin: auto

.search-no-results__headline
    margin-top: $margin-m
    margin-bottom: $h4-size
.search-no-results__subline
    margin-bottom: $margin-m
.search-no-results__headline-classics
    margin-top: $margin-xl
    margin-bottom: $margin-l
