.channel-header
    width: 100%
    height: fit-content
    position: relative
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media screen and (max-width: $break-tablet-landscape)
        max-height: initial
        height: initial
        min-height: calc(70vh - 120px)
        flex-direction: column

.channel-header__header-img
    position: relative
    height: fit-content
    width: 100%
    @media screen and (max-width: $break-tablet-landscape)
        display: flex;
        justify-content: center;

.channel-header__img, .channel-header__overlay
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover

.channel-header__overlay
    background-color: $color-overlay

.channel-header__title-box
    position: relative
    margin: 5% 0 5% 10%
    width: 33%
    border: $border-l
    padding: 24px
    &::after
        content: ''
        display: block
        padding-top: 100% // to get a perfect quadrad
    @media screen and (max-width: $break-tablet-landscape)
        border: $border-m
        padding: $margin-s
        width: 40%
        margin-top: 10%
        margin-left: 0
    @media screen and (max-width: $break-mobile)
        width: 60%

.channel-header__title
    position: absolute
    width: calc(100% - 2* 30px) // - padding of title box
    height: calc(100% - 2* 30px)
    color: var(--color-white)
    word-break: break-word
    hyphens: auto
    font-size: 3.7vw
    display: flex
    align-items: center
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    @media screen and (max-width: $break-tablet-landscape)
        @include font-size($h1-size)
    @media screen and (max-width: $break-mobile)
        font-size: 6vw


.channel-header__description
    position: absolute
    left: 50%
    margin-top: calc(5% + 20px + 30px)
    color: var(--color-white)
    width: $col-4
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 11
    -webkit-box-orient: vertical
    @media screen and (max-width: $break-tablet-landscape)
        position: relative
        left: initial
        color: var(--color-text)
        width: 90%
        margin: $margin-s auto
        overflow: initial
        display: block
