.channel-tabcontroller
    .MuiBox-root
        @media screen and (max-width: $break-mobile)
            padding: 0
    .MuiBox-root-163, .MuiBox-root-225
        padding: 0
    .MuiPaper-elevation4
        box-shadow: $elevation-1
    button:hover
        background-color: initial
        color: var(--color-black)
    .MuiTab-textColorInherit
        opacity: 1
    .MuiTab-wrapper
        font-size: 1rem
    .MuiTab-labelIcon
        text-transform: initial
        font-family: 'Montserrat'
        font-size: $h6-size
        font-weight: $h6-weight
        transition: color .2s ease-out
        padding: 0
        margin-bottom: 0
        min-height: 65px
        min-width: 120px
        @media screen and (max-width: $break-mobile)
            min-width: 33%
        svg:first-child
            margin-bottom: 0
            @media screen and (max-width: $break-mobile)
                width: 24px
                height: 24px
        path
            fill: var(--color-black)
        &[aria-selected="true"]
            color: var(--color-primary)
            path
                fill: var(--color-primary)
    .MuiTabs-indicator
        background-color: var(--color-primary)
        height: 5px
        width: 100px // start-width will be overrided later
