.post-playlist
    width: 75%
    max-width: 800px
    margin: auto
    transition: transform .15s ease-in-out, box-shadow .15s ease-in-out
    & + .post-playlist
        margin-top: $margin-m
        @media screen and (max-width: $break-mobile)
            margin-top: $margin-s
    &:hover
        transform: scale(1.005)
        box-shadow: $elevation-2
    @media screen and (max-width: $break-tablet-landscape)
        width: 90%
    @media screen and (max-width: $break-mobile)
        width: 100%

.post-playlist__created
    justify-content: flex-end
    margin-bottom: $margin-xs

.post-playlist__total-duration
    display: flex
    align-items: center
    justify-content: flex-end
    color: var(--color-grey)
    svg
        width: .9em
        height: .9em
        margin-right: 3px
        path
            fill: var(--color-grey)

.post-playlist__body
    width: 100%
    display: flex
    flex-direction: row
    @media screen and (max-width: $break-mobile)
        flex-direction: column
        align-items: center

.post-playlist__thumbnail-container
    display: block
    width: 40%
    position: relative
    &::after
        content: ''
        display: block
        padding-top: 150% // 16:9 aspect
    @media screen and (max-width: $break-mobile)
        width: 90%

.post-playlist__thumbnail
    width: 100%
    height: 100%
    position: absolute
    object-fit: cover

.post-playlist__details
    width: 60%
    padding-left: $margin-s
    align-self: stretch
    display: flex
    flex-direction: column
    justify-content: space-between
    @media screen and (max-width: $break-mobile)
       width: 90%
       align-items: center
       padding-left: 0
       margin: auto
       margin-top: $margin-s

.post-playlist__title
    margin-bottom: $margin-s
    @media screen and (max-width: $break-mobile)
        margin-bottom: $margin-s
        @include font-size($h3-sizes)

.post-playlist__meta
    margin-top: $margin-s
    @media screen and (max-width: $break-mobile)
        align-self: flex-start

.post-playlist__stat
    @media screen and (max-width: $break-mobile)
        display: inline-block
    & + .post-playlist__stat
        margin-top: $margin-xs
        @media screen and (max-width: $break-mobile)
            margin-left: $margin-s

.post-playlist__stat-category
    display: flex
    flex-direction: row
    margin-top: $margin-s
    &.post-playlist__stat
        @media screen and (max-width: $break-mobile)
            margin-left: 0
