.root-container
    width: 90%
    margin: auto

.container-80    
    @extend .root-container
    width: 80%

.container-70    
    @extend .root-container
    width: 70%

.container-60    
    @extend .root-container
    width: 60%

.container-50
    @extend .root-container
    width: 50%


.container-60-left
    width: 60%

.container-65-left
    width: 65%

.container-70-left
    width: 70%

    