.root-container
    width: 90%
    margin: auto

.container-80    
    @extend .root-container
    width: 80%

.container-70    
    @extend .root-container
    width: 70%

.container-60    
    @extend .root-container
    width: 60%

