$color-primary: #00A5A5
$color-primary-light: #BDE2E2
$color-primary-dark: #0B2929
$color-background: #F2F2F2
$color-gray: #949494
$color-white: #ffffff
$color-red: #DE0037
$color-black: #000000
$color-blue: #004ADE
$color-yellow: #FFA000

$color-overlay: rgba(0,35,35,.5)

/*DARK Styles*/
$dark-color-background: #040B0B
$dark-color-font: #E6E6E6
