$header-font-stack:    Montserrat, Helvetica, Arial, sans-serif
$paragraph-font-stack: 'Open Sans', Helvetica, Arial, sans-serif

html
    font-size: 18px
    font-family: $paragraph-font-stack

h1, h2, h3, h4, h5, h6
    font-family: $header-font-stack
    color: black

h1
    font-size: 6rem
    font-weight: 800

h2
    font-size: 2rem
    font-weight: 800
    line-height: 1em


h3
    font-size: 1.7rem
    font-weight: 700

h4
    font-size: 1.3rem
    font-weight: 700

h5
    font-size: 1.1rem
    font-weight: 600

h6
    font-size: .8rem
    font-weight: 600

p, a
    font-size: 1rem
    font-weight: 400
    font-family: $paragraph-font-stack

small, .small
    font-size: .7rem
    font-weight: 400
