$header-font-stack:    Montserrat, Helvetica, Arial, sans-serif
$paragraph-font-stack: 'Open Sans', Helvetica, Arial, sans-serif

$h4-size: 1.3rem
$h4-weight: 700

$h5-size: 1.1rem
$h5-weight: 600

html, body
    font-size: 18px
    font-family: $paragraph-font-stack

h1, h2, h3, h4, h5, h6
    font-family: $header-font-stack
    color: black

h1
    font-size: 6rem
    font-weight: 800

h2
    font-size: 2rem
    font-weight: 800

h3
    font-size: 1.7rem
    font-weight: 700

h4
    font-size: $h4-size
    font-weight: $h4-weight

h5
    font-size: $h5-size
    font-weight: $h5-weight

h6
    font-size: .8rem
    font-weight: 600

p, a
    font-size: 1rem
    font-weight: 400
    font-family: $paragraph-font-stack

small, .small
    font-size: .7rem
    font-weight: 400
