*
    box-sizing: border-box
    margin: 0
    padding: 0
    color: black
    font-family: 'Open Sans'

html, body
    background-color: $color-background

body, #root
    min-height: 100vh

.main
    margin: auto
    width: 90%
    max-width: 1600px

.main__section
    width: 100%
    margin-bottom: $margin-xl

::-webkit-scrollbar
  width: 10px
::-webkit-scrollbar-track
  background: transparent
::-webkit-scrollbar-thumb
  background: $color-primary