/* default, if no prefered scheme is supported by the browser*/
:root {
  --color-primary: #00a5a5;
  --color-primary-light: #bde2e2;
  --color-primary-dark: #0b2929;
  --color-background: #040b0b;
  --color-card-background: #212121;
  --color-text: #e6e6e6;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #949494;
  --color-gred: #de0037;
  --color-blue: #004ade;
  --color-yellow: #ffa000;
  --color-devider: #707070;
}

/* browser dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #00a5a5;
    --color-primary-light: #bde2e2;
    --color-primary-dark: #0b2929;
    --color-background: #040b0b;
    --color-card-background: #212121;
    --color-text: #e6e6e6;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #949494;
    --color-gred: #de0037;
    --color-blue: #004ade;
    --color-yellow: #ffa000;
    --color-devider: #707070;
  }
}

/* browser dark theme */
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #00a5a5;
    --color-primary-light: #bde2e2;
    --color-primary-dark: #0b2929;
    --color-background: #f0f0f0;
    --color-card-background: #fff;
    --color-text: #000;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #949494;
    --color-red: #de0037;
    --color-blue: #004ade;
    --color-yellow: #ffa000;
    --color-devider: #707070;
  }
}

/* manual dark theme */
html[theme="dark"] {
  --color-primary: #00a5a5;
  --color-primary-light: #bde2e2;
  --color-primary-dark: #0b2929;
  --color-background: #040b0b;
  --color-card-background: #212121;
  --color-text: #e6e6e6;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #949494;
  --color-red: #de0037;
  --color-blue: #004ade;
  --color-yellow: #ffa000;
  --color-devider: #707070;
}

html[theme="light"] {
  --color-primary: #00a5a5;
  --color-primary-light: #bde2e2;
  --color-primary-dark: #0b2929;
  --color-background: #f0f0f0;
  --color-card-background: #fff;
  --color-text: #000;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #949494;
  --color-red: #de0037;
  --color-blue: #004ade;
  --color-yellow: #ffa000;
  --color-devider: #707070;
}
