/* default, if no prefered scheme is supported by the browser*/
:root {
  --color-primary: #00a5a5;
  --color-primary-light: #bde2e2;
  --color-primary-dark: #0b2929;
  --color-background: #040b0b;
  --color-card-background: #212121;
  --color-text: #e6e6e6;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #949494;
  --color-grey-2: #D8D8D8;
  --color-grey-3: #BFBFBF;
  --color-grey-4: #A5A5A5;
  --color-grey-5: #8C8C8C;
  --color-gred: #de0037;
  --color-blue: #004ade;
  --color-yellow: #ffa000;
  --color-devider: #8C8C8C;
}

/* browser dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #00a5a5;
    --color-primary-light: #bde2e2;
    --color-primary-dark: #0b2929;
    --color-background: #040b0b;
    --color-card-background: #212121;
    --color-text: #e6e6e6;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #949494;
    --color-grey-2: #D8D8D8;
    --color-grey-3: #BFBFBF;
    --color-grey-4: #A5A5A5;
    --color-grey-5: #8C8C8C;
    --color-gred: #de0037;
    --color-blue: #004ade;
    --color-yellow: #ffa000;
    --color-devider: #707070;
  }
}

/* browser dark theme */
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #00a5a5;
    --color-primary-light: #bde2e2;
    --color-primary-dark: #0b2929;
    --color-background: #f2f2f2;
    --color-card-background: #fff;
    --color-text: #000;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #949494;
    --color-grey-2: #D8D8D8;
    --color-grey-3: #BFBFBF;
    --color-grey-4: #A5A5A5;
    --color-grey-5: #8C8C8C;
    --color-red: #de0037;
    --color-blue: #004ade;
    --color-yellow: #ffa000;
    --color-devider: #707070;
  }
}

/* manual dark theme */
html[theme="dark"] {
  --color-primary: #00a5a5;
  --color-primary-light: #bde2e2;
  --color-primary-dark: #0b2929;
  --color-background: #040b0b;
  --color-card-background: #212121;
  --color-text: #e6e6e6;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #949494;
  --color-grey-2: #D8D8D8;
  --color-grey-3: #BFBFBF;
  --color-grey-4: #A5A5A5;
  --color-grey-5: #8C8C8C;
  --color-red: #de0037;
  --color-blue: #004ade;
  --color-yellow: #ffa000;
  --color-devider: #707070;
}

html[theme="light"] {
  --color-primary: #00a5a5;
  --color-primary-light: #bde2e2;
  --color-primary-dark: #0b2929;
  --color-background: #f2f2f2;
  --color-card-background: #fff;
  --color-text: #000;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #949494;
  --color-grey-2: #D8D8D8;
  --color-grey-3: #BFBFBF;
  --color-grey-4: #A5A5A5;
  --color-grey-5: #8C8C8C;
  --color-red: #de0037;
  --color-blue: #004ade;
  --color-yellow: #ffa000;
  --color-devider: #707070;
}
