.vs-header
    @media screen and (max-width: $break-tablet)
        padding: 0 5%
.vs-header__subline
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin-top: $margin-l
    margin-bottom: $margin-3xl
    @media screen and (max-width: $break-desktop)
        flex-direction: column
        align-items: center
        margin-bottom: $margin-xl

.vs-header__illustration
    width: 46%
    @media screen and (max-width: $break-desktop)
        margin-bottom: $margin-m
        width: 60%

.vs-header__description
    margin-bottom: $margin-m
    margin-left: 4%
    @media screen and (max-width: $break-desktop)
        width: 60%
        text-align: center

.main__section--vs
    @media screen and (max-width: $break-tablet)
        padding: 0 5%