.vs-header
    @media screen and (max-width: $break-tablet)
        padding: 0 5%
.vs-header__subline
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin-top: $margin-l
    margin-bottom: $margin-3xl
    @media screen and (max-width: $break-desktop)
        flex-direction: column
        align-items: center
        margin-bottom: $margin-xl

.vs-header__illustration
    width: 46%
    @media screen and (max-width: $break-desktop)
        margin-bottom: $margin-m
        width: 60%

.vs-header__description
    margin-bottom: $margin-m
    margin-left: 4%
    @media screen and (max-width: $break-desktop)
        width: 60%
        text-align: center

.main__section--vs
    @media screen and (max-width: $break-tablet)
        padding: 0 5%
    @media screen and (max-width: $break-mobile)
        padding: 0

.main__section--vs-center
    padding: 0 11%
    & + .main__section--vs-center
        margin-top: $margin-xxl

.section-header-vs
    display: flex
    justify-content: space-between
    margin-bottom: $margin-xl
    &--left
        flex-direction: row
    &--right
        flex-direction: row-reverse
    @media screen and (max-width: $break-tablet)
        align-items: center
        flex-direction: column-reverse

.section-header__headline
    width: calc(60% - 20px) // add gap between elements
    margin-top: $margin-l
    word-wrap: break-word
    overflow-wrap: break-word
    hyphens: auto
    @media screen and (max-width: $break-tablet)
        width: 100%

.section-header__subline
    margin-top: $margin-xs

.section-header__img
    width: calc(40% - 20px) // add gap between elements
    max-height: 360px
    @media screen and (max-width: $break-tablet)
        width: 50%

.main__section__headline
    margin-bottom: $margin-m

.section__subline
    text-align: center
    margin-bottom: $margin-m

//
// section: services
//
.video-services__grid
    display: grid
    width: 100%
    column-gap: $margin-m
    row-gap: $margin-m
    grid-template-columns: repeat(4, minmax(0, 1fr))
    transition: grid-gap .4s ease-in-out
    @media screen and (max-width: $break-desktop-large)
        grid-template-columns: repeat(3, minmax(0, 1fr))
        column-gap: $margin-s
        row-gap: $margin-s
    @media screen and (max-width: $break-tablet)
        grid-template-columns: repeat(2, minmax(0, 1fr))
        column-gap: $margin-m
        row-gap: $margin-m
    @media screen and (max-width: $break-mobile)
        grid-template-columns: repeat(1, minmax(0, 1fr))

//
// section: Lehrfilmproduktionsstudio
//
.location-description-container
    width: 100%
    position: relative

.location-description__img
    width: 60%
    margin-bottom: $margin-xl
    @media(max-width: $break-mobile)
        width: 130%
        margin-left: -15%
        margin-bottom: $margin-m
.location-description__description
    position: absolute
    right: 0
    top: 35%
    width: 40%
    padding-left: 1em
    @media(max-width: $break-mobile)
        width: 100%
        position: initial
        text-align: center
        margin-bottom: $margin-l
        padding-left: 0

.location-description__video-directions
    width: 100%
    @media(max-width: $break-mobile)
        width: 130%
        margin-left: -15%
//
// section: Videoproduktion
//
.service-content-production__list
    list-style: none
    width: fit-content
    margin: auto
    padding-left: 1em
    & li
        line-height: 2em
        margin-left: 2em //fix align if line-break
        &::before
            content: '✔︎'
            margin-right: 1em
            margin-left: -2em //fix align if line-break

//
// section: Kontakt
//
.vs-contact__data
    display: flex
    justify-content: space-between
    @media screen and (max-width: $break-tablet)
        flex-direction: column
        align-items: center

.data__reachability
    padding: $margin-s
    border: $border-s
    margin-right: $margin-s
    @media screen and (max-width: $break-tablet)
        width: 90%
        margin-right: 0
        margin-bottom: $margin-m

.reachability__headline
    margin-bottom: $margin-s

.reachability__time-table td:first-child
    text-align: right
    padding-right: 1em
    padding-bottom: .5em

.data__contactinfo
    display: flex
    align-items: center

.contactinfo__list
    list-style: none

.contactinfo__listing
    display: flex
    align-items: center
    & + .contactinfo__listing
        margin-top: $margin-m

.contactinfo__icon
    margin-right: $margin-s
